################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Assistance.Mobile/.vs/Assistance.Mobile
/Assistance.Mobile/Assistance.Mobile/Assistance.Mobile/bin/Debug/netstandard2.0
/Assistance.Mobile/Assistance.Mobile/Assistance.Mobile/obj/Debug/netstandard2.0
/Assistance.Mobile/Assistance.Mobile/Assistance.Mobile.Android/bin/Debug
/Assistance.Mobile/Assistance.Mobile/Assistance.Mobile.Android/obj
/Assistance.Mobile/Assistance.Mobile/Assistance.Mobile/obj
/Assistance.Mobile/Assistance.Mobile/Assistance.Mobile.iOS/bin/iPhone/Debug
/Assistance.Mobile/Assistance.Mobile/Assistance.Mobile.iOS/obj
/Assistance.Mobile/Assistance.Mobile/Assistance.Mobile.UWP/obj
/Assistance.Mobile/Assistance.Mobile.Bll/bin/Debug/netstandard2.0
/Assistance.Mobile/Assistance.Mobile.Bll/obj/Debug/netstandard2.0
/Assistance.Mobile/Assistance.Mobile.Bll/obj
/Assistance.Mobile/Assistance.Mobile.Bll.Impl/bin/Debug/netstandard2.0
/Assistance.Mobile/Assistance.Mobile.Bll.Impl/obj/Debug/netstandard2.0
/Assistance.Mobile/Assistance.Mobile.Bll.Impl/obj
/Assistance.Mobile/Assistance.Mobile.Dal/bin/Debug/netstandard2.0
/Assistance.Mobile/Assistance.Mobile.Dal/obj
/Assistance.Mobile/Assistance.Mobile.Dal.Impl/bin/Debug/netstandard2.0
/Assistance.Mobile/Assistance.Mobile.Dal.Impl/obj/Debug/netstandard2.0
/Assistance.Mobile/Assistance.Mobile.Dal.Impl/obj
/Assistance.Mobile/Assistance.Mobile.Model/bin/Debug/netstandard2.0
/Assistance.Mobile/Assistance.Mobile.Model/obj/Debug/netstandard2.0
/Assistance.Mobile/Assistance.Mobile.Model/obj
/.vs/Assistance.Mobile
/Assistance.Mobile/Assistance.Mobile/bin/Debug/netstandard2.0
/Assistance.Mobile/Assistance.Mobile/obj
/Assistance.Mobile/Assistance.Mobile.Android/bin/Debug
/Assistance.Mobile/Assistance.Mobile.Android/obj
/Assistance.Mobile.Bll/bin/Debug/netstandard2.0
/Assistance.Mobile.Bll/obj
/Assistance.Mobile.Bll.Impl/bin/Debug/netstandard2.0
/Assistance.Mobile.Bll.Impl/obj
/Assistance.Mobile.Dal/bin/Debug/netstandard2.0
/Assistance.Mobile.Dal/obj
/Assistance.Mobile.Dal.Impl/bin/Debug/netstandard2.0
/Assistance.Mobile.Dal.Impl/obj/Debug/netstandard2.0
/Assistance.Mobile.Dal.Impl/obj
/Assistance.Mobile.Model/bin/Debug/netstandard2.0
/Assistance.Mobile.Model/obj
/Assistance.Mobile/Assistance.Mobile.iOS/bin
/Assistance.Mobile/Assistance.Mobile.iOS/obj/iPhone/Debug
obj
bin
obj
.vs
